@import 'reset';
$icon-font-path: "fonts/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

 body {
  padding-top: 50px;
}

.navbar-title {
  margin-bottom: 0px;
  margin-left: 5px;
  margin-top: 5px;
}

.navbar-spacer {
  height: 50px;
}

.below-nav {
  padding-left: 250px;
}

.sidebar-content-wrapper {
  height: 100%;
  left: 250px;
  margin-left: -250px;
  padding: 25px;
  position: fixed;
  width: 250px;
}

.main-content-wrapper {
  padding: 25px;
  width: 100%;
}
