*.class
lib
.classpath
.metadata
.project
.recommenders
venv
__pycache__
*.pyc
node_modules
.DS_Store
bower_components
.sass-cache
/android/.gradle
/android/local.properties
/android/.idea/workspace.xml
/android/.idea/libraries
/android/.DS_Store
/android/build
