@import "material-ui/src/less/scaffolding.less";
@import "material-ui/src/less/components.less";

.mui-app-canvas {
  height: 100%;

  .mui-app-content-canvas {
    &.with-nav {
      @subNavWidth: (@desktop-keyline-increment * 4);
      .lh-calc(min-height, ~'100% - @{app-bar-height}');

      .subContent {
        max-width: 90%;
        height: 100%;
        padding: @desktop-gutter;
      }
    }
  }
}

.calendar-wrapper-month {

  .cell {
    height: 100px;
  }
}

.calendar-wrapper-week, .calendar-wrapper-day {

  .cell {
    height: 500px;
  }
}

.calendar-wrapper {
  display: table;

  .calendar {
    table-layout: fixed;
    width: 100%;

    .cell {
      min-width: 125px;
      border: thin solid @grey-300;
      vertical-align: top;
      padding: 4px;
      position: relative;

      .event-block {
        opacity: 0.6;
        background-color: @light-blue-200;
        width: 90%;
        position: absolute;
        border: thin solid @grey-300;
      }
    }

    .cell-today {
      background-color: @grey-300;
    }

    .cell-disabled {
      color: @grey-300;
    }
  }
}

.mui-toolbar .mui-toolbar-group .mui-flat-button {
  height: 100%;
  background-color: @toolbar-background-color;
  margin-left: 20px;
  text-transform: none;
  font-weight: normal;
  color: @light-black;
  &:hover,
  &.mui-is-keyboard-focused {
    background-color: @flat-button-color;
  }
}

.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.num-events {
  float: right;
  background-color: @grey-300;
  border: 1px solid @grey-300;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 0px 4px;
}
