@import "material-ui/docs/dist/less/scaffolding.less";
@import "material-ui/docs/dist/less/components.less";

.mui-app-canvas {
  height: 100%;

  .mui-app-content-canvas {
    &.with-nav {
      @subNavWidth: (@desktop-keyline-increment * 4);
      .lh-calc(min-height, ~'100% - @{app-bar-height}');

      .subContent {
        max-width: (@desktop-keyline-increment * 14);
        height: 100%;
        .lh-calc(width, ~'100% - @{subNavWidth}');
        padding: @desktop-gutter;
      }
    }
  }
}

.calendar-wrapper-week, .calendar-wrapper-month {
  width: 700px;
}

.calendar-wrapper-day {
  width: 100px;
}

.calendar-wrapper-month {

  .cell {
    height: 91px;
  }
}

.calendar-wrapper-week, .calendar-wrapper-day {

  .cell {
    height: 301px;
  }
}

.calendar-wrapper {
  display: table;

  .calendar {
    width: 100%;

    .cell {
      width: 101px;
      border: thin solid @grey-300;
      vertical-align: top;
      padding: 4px;
      position: relative;
      display: inline-block;
      margin-top: -1px;
      margin-left: -1px;

      .event-block {
        background-color: @light-blue-200;
        width: 90%;
        position: absolute;
        border: thin solid @grey-300;
      }
    }

    .cell-today {
      background-color: @grey-300;
    }

    .cell-disabled {
      color: @grey-300;
    }
  }
}

.mui-toolbar .mui-toolbar-group .mui-paper-button {
  top: 8px;
}
